<html lang="en">

<head>
    <title>🎧🎙️🎮📺</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/normalise.css" />
    <link rel="stylesheet" href="static/zy.css" />
    <script src="static/gbacontroller.js"></script>
</head>

<body>
    <main>
        <h1 id="TITLE">Discord Plays GBA!</h1>
        <p>Use your keyboard to send input to the emulator! If you are experiencing a high http latency, try Firefox.</p>
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <h4>Input:</h4>
                    <table>
                        <tr>
                            <td class="input-table" style="width: 75px;" id="GBA_L">A = Ⓛ</td>
                            <td class="input-table" style="width: 75px;" id="GBA_R">S = Ⓡ</td>
                            <td class="input-table" style="width: 120px;" id="GBA_START">D = [Start]</td>
                            <td class="input-table" style="width: 55px;"></td>
                            <td class="input-table" style="width: 55px;" id="GBA_UP">⬆️</td>
                            <td class="input-table" style="width: 55px;"></td>
                        </tr>
                        <tr>
                            <td class="input-table" style="width: 75px;" id="GBA_B">Z = 🅑</td>
                            <td class="input-table" style="width: 75px;" id="GBA_A">X = 🅐</td>
                            <td class="input-table" style="width: 120px;" id="GBA_SELECT">C = [Select]</td>
                            <td class="input-table" style="width: 55px;" id="GBA_LEFT">⬅️</td>
                            <td class="input-table" style="width: 55px;" id="GBA_DOWN">⬇️</td>
                            <td class="input-table" style="width: 55px;" id="GBA_RIGHT">➡️</td>
                        </tr>
                    </table>
                </div>
                <div class="one-half column">
                    <h4>Stats:</h4>
                    <table>
                        <tr>
                            <td class="compact-table">Players connected:</td>
                            <td class="compact-table" id="PLAYER_COUNT">?</td>
                        </tr>
                        <tr>
                            <td class="compact-table">Flask to mGBA:</td>
                            <td class="compact-table" id="FLASK_MGBA_STATS">No one knows</td>
                        </tr>
                        <tr>
                            <td class="compact-table">HTTP latency:</td>
                            <td class="compact-table" id="HTTP_LATENCY">Waiting for input</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>